<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card px-5 py-5" id="form1">
        <form
          [formGroup]="passwordResetForm"
          (ngSubmit)="passwordResetFormSubmit()"
        >
          <div class="form-data">
            <h3 class="mb-4 text-center">Password Reset</h3>
            <div class="forms-inputs mb-4">
              <span>New Password</span>
              <input
                formControlName="password"
                autocomplete="off"
                type="password"
              />
              <p
                class="text-danger"
                *ngIf="
                  passwordResetForm.controls.password.invalid &&
                  passwordResetForm.controls.password.touched
                "
              >
                <small
                  *ngIf="passwordResetForm.controls.password.errors?.['required']"
                  >Password is required</small
                >
                <small
                  *ngIf="passwordResetForm.controls.password.errors?.['minlength']"
                  >Password minimum is 8</small
                >
              </p>
            </div>
            <div class="forms-inputs mb-4">
              <span>New Password Confirmation</span>
              <input formControlName="password_confirmation" type="password" />
              <p
                class="text-danger"
                *ngIf="passwordResetForm.errors?.['notMatch'] && passwordResetForm.controls.password_confirmation.touched"
              >
                <small>Password is not match</small>
              </p>
            </div>
            <div class="mb-3">
              <button
                [disabled]="passwordResetForm.invalid"
                class="btn btn-dark w-100"
              >
                Reset Password
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
