<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card px-5 py-5" id="form1">
        <form (ngSubmit)="forgotPasswordSubmit()">
          <div class="form-data">
            <h3 class="mb-4 text-center">Forgot Password</h3>
            <div class="forms-inputs mb-4">
              <span>Email</span>
              <input
                [formControl]="emailControl"
                autocomplete="off"
                type="text"
              />
              <p *ngIf="emailControl.invalid && emailControl.touched" class="text-danger">
                <small *ngIf="emailControl.errors?.['required']">Email is required</small>
                <small *ngIf="emailControl.errors?.['email']">Email is invalid</small>
              </p>
            </div>
            <div class="mb-3">
              <button [disabled]="emailControl.invalid" class="btn btn-dark w-100">Send Reset Link</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
