<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="registerFormSubmit()"
        class="card px-5 py-5"
        id="form1"
      >
        <div class="forms-inputs mb-4">
          <span>Name</span>
          <input formControlName="name" autocomplete="off" type="text" />
          <p
            *ngIf="
              registerForm.controls.name.invalid &&
              registerForm.controls.name.touched
            "
            class="text-danger"
          >
            <small *ngIf="registerForm.controls.name.errors?.['required']"
              >Name is required</small
            >
          </p>
        </div>
        <div class="forms-inputs mb-4">
          <span>Email</span>
          <input formControlName="email" autocomplete="off" type="text" />
          <p
            *ngIf="
              registerForm.controls.email.invalid &&
              registerForm.controls.email.touched
            "
            class="text-danger"
          >
            <small *ngIf="registerForm.controls.email.errors?.['required']"
              >Email is required</small
            >
            <small *ngIf="registerForm.controls.email.errors?.['email']"
              >Email is invalid</small
            >
          </p>
        </div>
        <div class="forms-inputs mb-4">
          <span>Password</span>
          <input formControlName="password" type="password" />
          <p
            *ngIf="
              registerForm.controls.password.invalid &&
              registerForm.controls.password.touched
            "
            class="text-danger"
          >
            <small *ngIf="registerForm.controls.password.errors?.['required']"
              >Password is required</small
            >
            <small *ngIf="registerForm.controls.password.errors?.['minlength']"
              >Password minimum is 8 character</small
            >
          </p>
        </div>
        <div class="forms-inputs mb-4">
          <span>Password confirmation</span>
          <input formControlName="password_confirmation" type="password" />
          <p
            *ngIf="registerForm.errors?.['notMatch'] && registerForm.controls.password_confirmation.touched"
            class="text-danger"
          >
            <small>Password is not match</small>
          </p>
        </div>
        <div class="mb-3">
          <button [disabled]="registerForm.invalid" class="btn btn-dark w-100">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
